.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  width: 100%;
}

.menu-itens {
  display: flex;
  list-style: none;
  height: 100%;
}

.menu-item {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  padding: 0 20px;
  height: 100%;
  color: white;
  text-decoration: none;
}

.menu-item:hover {
  background-color: rgba(71, 36, 16, 0.25);
  color: #472410;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.drawer {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  z-index: 100;
}

.drawer.active {
  right: 0;
}

.drawer-menu {
  list-style: none;
  padding: 0;
}

.drawer-menu li {
  margin: 1rem 0;
}

.drawer-menu li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.hamburguer {
  display: none;
  background: none;
  border: none;
}

.logo {
  max-width: 300px;
  font-weight: 700;
  color: #472410;
  text-transform: uppercase;
  padding: 0 20px;
}

.logo-wrapper {
  height: auto;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-text {
  font-size: 12px;
  color: white;
  margin-right: 0.75rem;
}

.welcome svg {
  margin-right: 0.75rem;
}

.welcome-text > p > a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

@media screen and (max-width: 990px) {
  .menu-itens {
    display: none;
  }
  .hamburguer {
    display: block;
  }
}

@media screen and (max-width: 1180px) {
  .menu-item {
    font-size: 12px;
  }
  .welcome-text {
    display: none;
  }
}
